//Color Definitions
$primary-color: white;
$secondary-color: #c7493a;
//Universial Margins
$standard_margin: 15px;

//Universal Text Sizes
$primary-text-size: 25px;
$secondary-text-size: 20px;

//Mixins
@mixin list-size-para{
     ul{
        li{
           p{
             font-size: $secondary-text-size;
           }
        }
    }
}

@mixin list-size-link{
      ul{
        li{
           a{
             font-size: $secondary-text-size;
           }
        }
    }
}
//Gridbox
.wrapper{
    display: grid;
    grid-gap: 1em;
    grid-auto-rows: 6em;
}
//ID CSS
#about{
    margin: $standard_margin;
    @include list-size-para;
}
#projects{
    .row{
        &.col-md-4{
            @include list-size-link;
        }
    }
}

//Class CSS
.secondary-text{
    color: $secondary-color;
}

//navigation bar
.navigation-bar{
    padding: 1em;
}
.brand{
    float: left;
    color: orange;
    h1{
        font-size: 4em;
    }
}
.nav-list{
    float: right;
    margin: 10px;
    li{
        display: inline-block;
    }
}
.nav-btn{
    margin: 20px;
    font-size: 1.5em;
}
.clearfix {
  overflow: auto;
}
//Elements CSS
p{
    font-size: $primary-text-size;
}