$primary-color: white;
$secondary-color: #c7493a;

$show-header-img: true;
$header-img: url('../dist/img/header.jpg');

//Universial Margins
$standard_margin: 15px;



#about{
    margin: $standard_margin;
}
.secondary-text{
    color: $secondary-color;
}
header{
    background: $header-img;
}

p{
    font-size: 25px;
}

